{
  "plugins": ["source-map-support", "@babel/plugin-proposal-export-default-from"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.18.3"
        }
      }
    ]
  ]
}